 {% macro button(text, use_icons) %}
    {% if use_icons %}
        {% if text == 'play' %}
            <span class='glyphicon glyphicon-play label-play'></span>
        {% elseif text == 'pause' %}
            <span class='glyphicon glyphicon-pause label-pause'></span>
        {% elseif text == 'previous' %}
            <span class='glyphicon glyphicon-step-backward'></span>
        {% elseif text == 'next' %}
            <span class='glyphicon glyphicon-step-forward'></span>
        {% elseif text == 'vol-up' %}
            <span class='glyphicon glyphicon-volume-up'></span>
        {% elseif text == 'vol-down' %}
            <span class='glyphicon glyphicon-volume-down'></span>
        {% elseif text == 'settings' %}
            <span class='glyphicon glyphicon-cog'></span>
        {% elseif text == 'back-to-my-music' %}
            <span class='glyphicon glyphicon-arrow-left'></span>
        {% elseif text == 'logout' %}
            <span class='glyphicon glyphicon-log-out'></span>
        {% elseif text == 'add-directory' %}
            <span class='glyphicon glyphicon-folder-open'></span>
        {% elseif text == 'add-user' %}
            <span class='glyphicon glyphicon-user'></span>
        {% elseif text == 'show-unplayable' %}
            <span class='glyphicon glyphicon-filter'></span>
        {% elseif text == 'playlist' %}
            <span class='glyphicon glyphicon-list-alt'></span>
        {% endif %}
    {% else %}
        <span class="label-{{ text }}">{{ text|replace({'-': ' '})|title }}</span>
    {% endif %}
{% endmacro %}
