{% extends "wrapper.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="center">Install Music Player</h1>

        {% if check_failed %}
            <div class="check-window alert alert-danger">
                <h4>We have detected a problem</h4>
                Please run the installer via the shell to correct.
            </div>
        {% endif %}
        <table class="check-window check-bg">
            <tr>
               <td>Database Directory is Writable</td>
                <td>
                    {% if database_dir_writable %}
                        <i class="glyphicon glyphicon-ok"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>Database File Exists</td>
                <td>
                    {% if database_file_exists %}
                        <i class="glyphicon glyphicon-ok"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>Play Directory is Writable</td>
                <td>
                    {% if play_dir_writable %}
                        <i class="glyphicon glyphicon-ok"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
               <td>Browser Supports Javascript</td>
                <td>
                    <i id="js-test" class="glyphicon glyphicon-remove"></i>
                </td>
            </tr>
        </table>

        <div class="buttons">
            <a href="/" type="button" class="btn btn-primary btn-lg btn-block">Back</a>
        </div>
    </div>
{% endblock %}