{% extends "wrapper.html.twig" %}

{% block content %}
    <div class="login-content">
        <div class="text-center">
            <h1 class="title">Web Music Player</h1>
        </div>

        <form class="form-signin" method="post">
            <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="">
            <input type="password" class="form-control" name="password" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Sign In</button>
        </form>
    </div>
{% endblock %}
