/**
 * Layout related CSS
 * Independent of any theme
 */
 body, html {
    height: 100%;
}

/** Standard classes */
.hide {
    display: none;
}

.music-file {
    cursor: pointer;
}

.fullscreen_bg {
    padding: 30px;
    min-height: 100%;
}

.msgbox {
    margin: 0 200px 0px 200px;
}

.login-content {
    /*margin-top: 50px;*/
}

.content {
    margin: 0 auto 100px auto;
    width: 70%;
}

/** Sections */
.player-section {
    padding: 3px;
}

.library-section {
    padding: 10px;
}

/** Player section */

#duration {
    padding: 0 5px;
}

#controls {
    padding: 5px;
    padding-bottom: 10px;
}

#duration {
    margin-left: 10px;
    border-radius: 5px;
}

.playlist {
    height: 600px;
    overflow-y: scroll;
}

#player {
    margin-left: 100px;
}

#play .label-pause {
    display: none;
}

h1.title {
    padding-bottom: 50px;
    text-align: center;
}

div.buttons {
    text-align: center;
    margin: auto;
    width: 200px;
}

/** Login page */
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

/** Check page */
.check-window {
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 600px;
    padding: 10px;
}

.check-window td {
    padding: 10px 5px 10px 10px;
}

/** Settings page */

.section {
    padding-bottom: 10px;
}

.add-section .form-group {
    margin-right: 10px;
}

.directory-entry {
    width: 400px !important;
}

#playback {
    display: none;
    width: 260px;
    margin: 15px;
}

.v-center {
    display: flex;
    align-items: center;
}

.slider {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

#volume-slider {
    width: 100px;
}

i.slider-icon {
    float: left;
    margin-right: 8px;
}

.search-container {
    display: inline-block;
    margin-left:  20px;
    width: 40%;
}

#search {
    max-width: 80%;
}

.playlist-select {
    margin-top: 25px;
}

.shuffle-btn {
    cursor: pointer;
}

